img{
    width: 400px;
    height: 300px;
}
div{
    background-color: blue;
    color: aqua;
    width: 100px;
}
span{
    background-color: black;
    color: red;
    font-size: 20px;
}
.emri1{
    background-color: blueviolet;
    color: aqua;
    font-size: 40px;
}
.emri2{
    background-color: chartreuse;
    color: blue;
    font-size: 30px;
}
.emri3{
    background-color: deeppink;
    color: crimson;
    font-size: 20px;
}
.emri4{
    background-color: black;
    color: aliceblue;
    font-size: 10px;
}
.emri5{
    background-color: deepskyblue;
    color: black;
    font-size: 20px;
}
.emri6{
    background-color: cornflowerblue;
    color: chocolate;
    font-size: 30px;
}
.emri7{
    background-color: darkviolet;
    color: yellow;
    font-size: 40px;

}


