.div1{
    background-color: ;
    text-align: center;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 9px 7px gray;;
}
.fl{
    padding-top: 15px}
    .div2{
        margin-top: 60px;
        text-align: center;
        margin-right: 1200px;
        background-color;
        font-size: 20px;
        margin-left: 150px;
        box-shadow: 10px 9px 7px gray;;
        border-radius: 15px;
        width: 900px;

    }
    .dua{
        text-align: center;
        

    }
    .div3{
        background-color:;
        margin-left: 1200px;
        margin-top: -730px;
        font-size: 20px;
        width: 400px;
        height: 700px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 10px 9px 7px gray;;
    
    }
    .Duaaa{
        height: 150px;
        width: 150px;
        margin-top: 30px;
        border-radius: 100%;

    }