
.foto1{
    width: 15px;
    height: 15px;
    
}
.foto2{
    width: 15px;
    height: 15px;
   
}
.foto3{
    width: 15px;
    height: 15px;
 
    
}
.link:hover{
    border: 3px solid Blue;
    width: 90px;
    height: 80px;
    margin-left: 70px;
    color: white;
    
}
.mail:hover{
    border: 3px solid Blue;
    width: 90px;
    height: 80px;
    margin-left: 70px;
    color: white;
    
    
}
.phone:hover{
    border: 3px solid Blue;
    width: 90px;
    height: 80px;
    margin-left: 70px;
    color: white;
    text-decoration: none;
}
body{
    background-color: darkslateblue;
}
.titulli{
    color: white;
    text-size-adjust: 110px;
}
.titulli2{
    color: white; 
}
.foto4{
    width: 65px;
    height: 65px;
    
}
.facebook:hover{
    border: 5px solid Blue;
    width: 140px;
    height: 140px;
    margin-left: 70px;
    color: white;
    text-decoration: none;
}
.foto5{
    width: 65px;
    height: 65px;
    border-radius: 40px;
    
}
.twitter:hover {
    border: 5px solid Blue;
    width: 110px;
    height: 110px;
    margin-left: 110px;
    color: white;
    text-decoration: none;
}
.tw1{
    margin-left: 130px;
    margin-top: -68px;
    width: 70px;
    
}
.fc1{
    margin-left: 5px;
    margin-top: 70px;
}
.foto6{
    width: 65px;
    height: 65px;
    border-radius: 40px;
}
.in1{
    margin-left: 280px;
    margin-top: -68px;
    width: 70px;
}
.instagram:hover{
    border: 5px solid Blue;
    width: 110px;
    height: 110px;
    margin-left: 110px;
    color: white;
    text-decoration: none;
}
form{
    background-color: white;
    width: 550px;
    height: 590px;
    margin-left: 800px;
    margin-top: -400px;
    text-size-adjust: 100px;
    text-align: center;
    border-radius: 20px;
}
.mmm{
    width: 220px;
    height: 220px;
    
}


  