body{
    background-color: cyan;
}
.EHene{
    background-color: blueviolet;
}
.EMarte{
    background-color: crimson;
}
.EMerkure{
    background-color: chartreuse;
}
.EEjnte{
    background-color: darkgreen;
}
.EPremte{
    background-color: deeppink;
}