

body{
    background-color: orange;
}

div{
    width: 250px;
    height: 250px;
    background-color: red;
    /* transform: translate(250px, 80px); */
    /* transform: translateXY(0px); */
    transform: rotate(20deg);
    margin-top: 100px;
}
div:hover {
    background-color: blue;
    transform: translateY(80px);
    transform: rotate(50deg);
}

.haha{
    background-color: green;
    border-radius: 80px;
    width: 250px;
    height: 250px;
    margin-top: 400px;
    
}
.haha:hover{
    background-color: blueviolet;
    /* transform: translate(100px); */
    transform: skew(-20deg);
}

.3d {
    width: 250px;
    height: 250px;
    
    
    
}
div {
    transform:
      perspective(2000px)
      translate3d(0px, -66px, 198px)
      rotateX(-55deg)
      scale3d(0.86, 0.75, 1)
      translateY(50px);
    border-radius: 5px;
    border-style: dotted;
    
  }

  div {
    transform:
      scale(0.75)
      rotateY(-30deg)
      rotateX(45deg)
      translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
    transition: 0.6s ease transform;
  
    &:hover {
      transform: scale(1);
    }
  
    div::before {
      transform: translateZ(4rem);
      &:hover {
        transform: translateZ(0);
      }
    }
  
    &::after {
      transform: translateZ(-4rem);
      &:hover {
        transform: translateZ(-1px);
      }
    }
  }
