/* Ngjyra me tekst */
h1{
color: red;
letter-spacing: 50px;
animation: alternate-reverse;
animation-duration: 20ms;
text-transform: uppercase;



/* Ngjyra me rgb   */
}
h2{
color: rgb(255, 0, 0);
letter-spacing: -10px;



/* Hex- esht kombinim i ngjyrave me 6 karaktere */
}
h3{
     color: #ffff;

}
h4{
     word-spacing: 20px;
     text-indent: 30px;
     
}
h5{
     text-align: right;
     text-decoration: line-through rebeccapurple;

}
p{
     line-height: 50px;,
}                                                            