.first{
    height: 200px;
    width: 200px;
    border: 3px solid  red;
    background-color: aqua;
    margin-left: 300px;
    text-align: center;
}
.box2{
    height: 200px;
    width: 200px;
    border: 3px solid  red;
    background-color: aqua;
    text-align: center;
}